<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TripPin - Pin Your Memories</title>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div id="map"></div>
    <div id="map-overlay">
      <button id="logout" onclick="location.href='/logout'">Logout</button>
      <button id="zoom">Zoom In</button>
    </div>
    <div id="itinerary-panel">
      <h2>Itineraries</h2>
      <div id="itinerary-list">
        <div id="pins-list"></div>
      </div>
      <h3>Create New Itinerary</h3>
      <input
        type="text"
        id="new-itinerary-name"
        placeholder="Enter itinerary name"
      />
      <button onclick="create_itinerary()">Create Itinerary</button>
    </div>
    <div id="instructions">
      <h1>TripPin Instructions</h1>
      <ul>
        <li>Click anywhere on the map to add a new pin</li>
        <li>Click on a pin to view, edit, delete, or add it to an itinerary</li>
        <li>
          Enter itinerary name and click "Create Itinerary" to create a new
          itinerary
        </li>
        <li>
          Click on the "Add To Itinerary" button to add the pin to the itinerary
          of your choice
        </li>
        <li>Use the search bar to find a specific location</li>
        <li>Click on the "Zoom In/Out" button to zoom in/out on the map</li>
        <li>Click on the "Logout" button to log out</li>
      </ul>
    </div>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <script src="https://api.mapbox.com/search-js/v1.0.0-beta.22/web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mapbox-gl-animated-popup@latest/dist/mapbox-gl-animated-popup.min.js"></script>
    <script>
      var mapboxapi = "{{ MAPBOX_API_KEY }}";
      mapboxgl.accessToken = mapboxapi;
      const map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v12",
        center: [0, 0],
        zoom: 2,
      });
      map.addControl(new mapboxgl.NavigationControl());

      const searchBox = new mapboxsearch.MapboxSearchBox();
      searchBox.accessToken = mapboxapi;
      searchBox.options = {
        types: "address,poi",
        proximity: [0, 0],
      };
      searchBox.marker = true;
      searchBox.mapboxgl = mapboxgl;
      map.addControl(searchBox);

      let popup = new AnimatedPopup({
        offset: 25,
        openingAnimation: {
          duration: 1000,
          easing: "easeOutElastic",
          transform: "scale",
        },
        closingAnimation: {
          duration: 300,
          easing: "easeInBack",
          transform: "scale",
        },
      });

      // Function to add a pin
      function add_pin(lng, lat, title, rating, review) {
        if (rating == null || review == null) {
          rating = parseInt(prompt("Enter a rating for this place (1-5): "));
          if (rating > 5 || rating < 1 || rating.isNaN) {
            alert(
              "Error: Please enter a number between 1 and 5 for the rating"
            );
            return;
          }
          review = prompt("Enter a review for this place: ");
        }

        fetch("/places", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name: title,
            longitude: lng,
            latitude: lat,
            rating: parseInt(rating),
            review: review,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.error) {
              console.error("Error:", data.error);
              alert(data.error);
              return;
            } else {
              console.log("Pin saved:", data);
              const popupContent = `
                        <h3>${title}</h3>
                        <p>Rating: ${rating}/5</p>
                        <p>Review: ${review}</p>
                        <button onclick="edit_pin(${data.id})">Edit</button>
                        <button onclick="delete_pin(${data.id})">Delete</button>
                        <button onclick="add_to_itinerary(${data.id})">Add To Itinerary</button>
                  `;
              popup.setHTML(popupContent);
              // Add marker to map and update UI
              const marker = new mapboxgl.Marker({
                color: "#FF0000",
              })
                .setLngLat([lng, lat])
                .setPopup(popup)
                .addTo(map);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      // Function to edit pin name
      function edit_pin(placeId) {
        newTitle = prompt("Enter new name for this location:");
        if (newTitle == null || newTitle == "") {
          alert("Error: Please enter a name for the location");
          return;
        }
        newRating = prompt("Enter a new rating (1-5):");
        Nested_if: if (newRating == null || newRating == "") {
          newRating = "";
          break Nested_if;
          if (
            parseInt(newRating) > 5 ||
            parseInt(newRating) < 1 ||
            Number.isNaN(parseInt(newRating))
          ) {
            alert(
              "Error: Please enter a number between 1 and 5 for the rating"
            );
            return;
          }
        }

        newReview = prompt("Enter a new review:");

        fetch(`/places/${placeId}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name: newTitle,
            rating: newRating,
            review: newReview,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Place updated:", data);
            window.location.reload();
          })
          .catch((error) => console.error("Error:", error));
      }

      // Function to delete pin
      function delete_pin(placeId) {
        if (confirm("Are you sure you want to delete this pin?")) {
          fetch(`/places/${placeId}`, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => {
              console.log("Place deleted:", data);
              // Remove the marker from the map

              // Refresh the places list
              window.location.reload();
            })
            .catch((error) => console.error("Error:", error));
        }
      }

      // Example: Add some sample pins
      map.on("load", () => {
        add_pin(
          -74.006,
          40.7128,
          "New York City",
          4,
          "Best City, but a lot of people"
        );
        add_pin(2.3522, 48.8566, "Paris", 5, "This is our honeymoon location!");
        add_pin(139.6917, 35.6895, "Tokyo", 3, "Good fish");
      });

      // Add click event to add new pins
      map.on("click", (e) => {
        const title = prompt("Enter a name for this location:");
        if (title) add_pin(e.lngLat.lng, e.lngLat.lat, title);
      });

      // Spin variables
      const secondsPerRevolution = 120;
      // Above zoom level 5, do not rotate.
      const maxSpinZoom = 5;
      // Rotate at intermediate speeds between zoom levels 3 and 5.
      const slowSpinZoom = 3;

      let userInteracting = false;
      let spinEnabled = true;

      //function to spin globe
      function spinGlobe() {
        const zoom = map.getZoom();
        if (spinEnabled && !userInteracting && zoom < maxSpinZoom) {
          let distancePerSecond = 360 / secondsPerRevolution;
          if (zoom > slowSpinZoom) {
            // Slow spinning at higher zooms
            const zoomDif = (maxSpinZoom - zoom) / (maxSpinZoom - slowSpinZoom);
            distancePerSecond *= zoomDif;
          }
          const center = map.getCenter();
          center.lng -= distancePerSecond;
          // Smoothly animate the map over one second.
          // When this animation is complete, it calls a 'moveend' event.
          map.easeTo({ center, duration: 1000, easing: (n) => n });
        }
      }

      //stop map from rotating when user is holding down mouse button
      map.on("mousedown", () => {
        userInteracting = true;
      });

      // Restart spinning the globe when interaction is complete
      map.on("mouseup", () => {
        userInteracting = false;
        spinGlobe();
      });

      // These events account for cases where the mouse has moved
      // off the map, so 'mouseup' will not be fired.
      map.on("dragend", () => {
        userInteracting = false;
        spinGlobe();
      });
      map.on("pitchend", () => {
        userInteracting = false;
        spinGlobe();
      });
      map.on("rotateend", () => {
        userInteracting = false;
        spinGlobe();
      });

      // When animation is complete, start spinning if there is no ongoing interaction
      map.on("moveend", () => {
        spinGlobe();
      });

      spinGlobe();

      document.getElementById("zoom").addEventListener("click", () => {
        const zoom = document.getElementById("zoom");
        const zoomText = zoom.textContent;
        if (zoomText === "Zoom In") {
          document.querySelector("#zoom").textContent = "Zoom Out";
          map.zoomTo(10, {
            duration: 2500,
          });
        } else if (zoomText === "Zoom Out") {
          document.querySelector("#zoom").textContent = "Zoom In";
          map.zoomTo(2, {
            duration: 2500,
          });
        } else {
          console.log("Error with zoom");
        }
      });

      let itinerary = [];

      // Create a new itinerary
      function create_itinerary() {
        const name = document.getElementById("new-itinerary-name").value;
        if (!name) {
          alert("Error: Please enter a name for the itinerary");
          return;
        }
        fetch("/itinerary", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ name: name }),
        })
          .then((response) => {
            if (!response.ok) {
              return response.json().then((data) => {
                throw new Error(data.error || "An error occurred");
              });
            }
            return response.json();
          })
          .then((data) => updateItineraryList())
          .catch((error) => {
            console.error("Error:", error);
            alert(`Error: ${error.message}`);
          });
      }

      // Delete an itinerary
      function delete_itinerary(itineraryId) {
        if (confirm("Are you sure you want to delete this itinerary?")) {
          fetch(`/itinerary/${itineraryId}`, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => updateItineraryList())

            .catch((error) => console.error("Error:", error));
        }
      }

      // Edit an itinerary
      function edit_itinerary(itineraryId) {
        const newName = prompt("Enter a new name for this itinerary:");
        if (!newName) {
          alert("Error: Please enter a name for the itinerary");
          return;
        }
        fetch(`/itinerary/${itineraryId}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ name: newName }),
        })
          .then((response) => response.json())
          .then((data) => updateItineraryList())
          .catch((error) => console.error("Error:", error));
      }

      function add_to_itinerary(placeId) {
        const itineraryName = prompt(
          "Enter the itinerary name to add this place to:"
        );
        if (!itineraryName) {
          alert("Error: Please enter an itinerary name");
          return;
        }
        fetch(`/itinerary/${itineraryName}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ placeId: placeId }),
        })
          .then((response) => {
            if (!response.ok) {
              return response.json().then((data) => {
                throw new Error(data.error || "An error occurred");
              });
            }
            return response.json();
          })
          .then((data) => updateItineraryList())
          .catch((error) => {
            console.error("Error:", error);
            alert(`Error: ${error.message}`);
          });
      }

      function updateItineraryList() {
        fetch("/itinerary", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((itineraries) => {
            const itineraryList = document.getElementById("itinerary-list");
            const pinsList = document.getElementById("pins-list");
            itineraryList.innerHTML = "";

            itineraries.forEach((itinerary) => {
              const itineraryItem = document.createElement("div");
              itineraryItem.className = "itinerary-item";
              itineraryItem.innerHTML = `
                        <h4>${itinerary.name}</h4>
                        <h4>Pins:</h4>
                        <ul>
                    ${itinerary.place
                      .map(
                        (place) => `
                        <li>
                            ${place.name}
                        </li>
                    `
                      )
                      .join("")}
                </ul>

                        <button onclick="edit_itinerary(${
                          itinerary.id
                        })">Edit</button>
                        <button onclick="delete_itinerary(${
                          itinerary.id
                        })">Delete</button>
                    `;
              itineraryList.appendChild(itineraryItem);
            });
          })
          .catch((error) => console.error("Error:", error));
      }

      function loadUserPins() {
        fetch("/places", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((places) => {
            places.forEach((place) => {
              const popup = new AnimatedPopup({
                offset: 25,
                openingAnimation: {
                  duration: 1000,
                  easing: "easeOutElastic",
                  transform: "scale",
                },
                closingAnimation: {
                  duration: 300,
                  easing: "easeInBack",
                  transform: "scale",
                },
              });
              const popupContent = `
                    <h3>${place.name}</h3>
                    <p>Coordinates: ${place.longitude}, ${place.latitude}</p>
                    <p>Rating: ${place.rating}/5</p>
                    <p>Review: ${place.review}</p>
                    <button onclick="edit_pin(${place.id})">Edit</button>
                    <button onclick="delete_pin(${place.id})">Delete</button>
                    <button onclick="add_to_itinerary(${place.id})">Add To Itinerary</button>
                `;
              popup.setHTML(popupContent);
              // Add marker to map and update UI
              const marker = new mapboxgl.Marker({
                color: "#FF0000",
              })
                .setLngLat([place.longitude, place.latitude])
                .setPopup(popup)
                .addTo(map);
            });
          })
          .catch((error) => console.error("Error:", error));
      }

      // Call loadUserPins when the page loads
      document.addEventListener("DOMContentLoaded", loadUserPins);
      document.addEventListener("DOMContentLoaded", updateItineraryList);
    </script>
  </body>
</html>
