body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.custom-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  transform: rotate(-45deg);
  margin-bottom: 5px;
}
.marker-label {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  border-radius: 2px;
}

#zoom {
  display: block;
  position: absolute;
  top: 150px;
  right: 10px;
  margin: 0px auto;
  width: 8%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #000000;
  background: #fff;
}

#itinerary {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}
#itinerary-list {
  list-style-type: none;
  padding: 0;
}
#itinerary-list li {
  margin-bottom: 5px;
}

#itinerary-panel {
  position: absolute;
  top: 150px;
  left: 10px;
  width: 15%;
  height: 20%;
  background: white;
  padding: 20px;
  overflow-y: auto;
}
.itinerary-item {
  margin-bottom: 10px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
}
